* {
    margin: 0;
}

.container-fluid {
    background-color: #1A1A1A;
}

html p {
    font-size: 18px;
    color: #9D9D9D;
    font-family: sans-serif;
}


html > body {
    background-color: #1A1A1A;
}

body h5 {
    color: #9D9D9D;
    /* font-size: 30px; */
    /* margin-bottom: 50px; */
}
#topbtn {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

/* .btn:focus {   ?????
  outline: none;
} */

.header button {
    /* text-decoration: none; */
    /* border: none; */
    color: #9D9D9D; 
    margin-bottom: 10px;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
/* .tothetop { !!!THIS MAKES THE HEADER DISAPPEAR!!!
    position: fixed;
} */

.pics p {
    font-size: 16px;
    margin-bottom: 5px;
}
.pics img {
    margin-bottom: 50px;
}

/* .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
} */


.bottom {
    margin-right: 70px;
    margin-bottom: 30px;
}

#bttmbtn {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #9D9D9D;
}

button {
    /* margin-bottom: 100px; */
    /* background-color: white; */
    /* font-size: */
    /* border: 0px solid transparent; */
    /* outline: none !important;  */
    /* box-shadow: none !important;  */
 }

/* .btn {
    outline: none !important; 
    box-shadow: none !important; 
}
.btn-group {
    outline: none !important; 
    box-shadow: none !important; 
}
.btn-group dropright {
    outline: none !important; 
    box-shadow: none !important; 
} */


.contact {
    font-size: 16px;
    color: #9D9D9D;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-top: 100px;
    line-height: 12px;
}

.contact h5 {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .contact {
        display: none;
    }
}